.App {
  text-align: center;
  margin-top: 5px;
}

.btn{
  height: min-content;
  width: min-content;
}



.home{
  height: 99vh;
  max-height: 99vh;
}

.chartContainer{
  display: block;
  height: 90vh;
  max-height: 90vh;
}








